/* IngredientForm.css */
.ingredient-form {
  padding: 20px;
  margin: 20px; /* Increased margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background-image: url('https://img.freepik.com/premium-photo/food-background-black-herbs-spices-utensil-top-view-with-space-text_1040174-349.jpg');
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
}

.ingredient-form h2 {
  text-align: center;
}

.ingredient-form label {
  display: block;
  margin: 10px 0 5px;
}

.ingredient-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
